@{
    var version = typeof(IdentityServer4.Hosting.IdentityServerMiddleware).Assembly.GetName().Version.ToString();
}

<div class="welcome-page">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                <img class="icon" src="~/icon.jpg">
                Welcome to the IdentityServer4 demo site
                <small>(version @version)</small>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <p>
                IdentityServer publishes a
                <a href="~/.well-known/openid-configuration">discovery document</a>
                where you can find metadata and links to all the endpoints, key material, etc.
            </p>
        </div>
        <div class="col-sm-8">
            <p>
                You can use the following clients (see <a href="https://github.com/IdentityServer/IdentityServer4.DemoSite/blob/master/src/IdentityServer4Demo/Config.cs">here</a> for the code definition).
            </p>
            <p>
                Click <a href="~/grants">here</a> to manage your stored grants.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <p>
                <b>client id: native.hybrid</b> <br />
                grant type: hybrid with PKCE <br />
                allowed scopes: openid profile email api offline_access
            </p>

            <p>
                <b>client id: native.code</b> <br />
                grant type: authorization code with PKCE <br />
                allowed scopes: openid profile email api offline_access
            </p>

            <p>
                <b>client id: server.hybrid</b> <br />
                client secret: secret <br />
                grant type: hybrid <br />
                allowed scopes: openid profile email api offline_access
            </p>
            
            <p>
                <b>client id: server.hybrid.short (access token lifetime of 70 seconds)</b> <br />
                client secret: secret <br />
                grant type: hybrid <br />
                allowed scopes: openid profile email api offline_access
            </p>

            <p>
                <b>client id: server.code</b> <br />
                client secret: secret <br />
                grant type: authorization code <br />
                allowed scopes: openid profile email api offline_access
            </p>

            <p>
                <b>client id: spa</b> <br />
                grant type: authorization code with PKCE <br />
                allowed scopes: openid profile email api offline_access
            </p>
            <p>
                <b>client id: spa.short (access token lifetime 70 seconds)</b> <br />
                grant type: authorization code with PKCE<br />
                allowed scopes: openid profile email api offline_access
            </p>

            <p>
                <b>client id: implicit</b> <br />
                grant type: implicit <br />
                allowed scopes: openid profile email api
            </p>

            <p>
                <b>client id: implicit.reference</b> <br />
                grant type: implicit <br />
                allowed scopes: openid profile email api
            </p>

            <p>
                <b>client id: implicit.shortlived</b> <br />
                grant type: implicit <br />
                allowed scopes: openid profile email api
            </p>

            <p>
                <b>client id: client</b> <br />
                client secret: secret <br />
                grant type: client credentials <br />
                allowed scopes: api
            </p>

            <p>
                <b>client id: device</b> <br />
                grant type: urn:ietf:params:oauth:grant-type:device_code <br />
                allowed scopes: openid profile email api
            </p>

            <p>
                You can call a test API at https://demo.identityserver.io/api/test.
            </p>
        </div>
    </div>
</div>
